Checks: '*,
-llvmlibc-*,-modernize-use-trailing-return-type,-altera-unroll-loops,
-misc-non-private-member-variables-in-classes,-fuchsia-default-arguments*'
WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle: none
